<app-toast [message]="toastMessage" [type]="toastType"></app-toast>

<form class="auth-card" [formGroup]="loginForm" (ngSubmit)="submit()">
  <h2>Login</h2>

  <!-- Email -->
  <div
    class="field"
    [class.has-error]="
      loginForm.get('email')?.invalid && loginForm.get('email')?.touched
    "
  >
    <input type="email" placeholder="Email" formControlName="email" />
    <div
      class="error"
      *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
    >
      Valid email is required
    </div>
  </div>

  <!-- Password -->
  <div
    class="field password-field"
    [class.has-error]="
      loginForm.get('password')?.invalid && loginForm.get('password')?.touched
    "
  >
    <input
      [type]="showPassword ? 'text' : 'password'"
      placeholder="Password"
      formControlName="password"
    />

    <!-- Eye icon -->
    <span class="toggle-password" (click)="togglePassword()">
      {{ showPassword ? "🙈" : "👁️" }}
    </span>

    <div
      class="error"
      *ngIf="
        loginForm.get('password')?.invalid && loginForm.get('password')?.touched
      "
    >
      Password is required
    </div>
  </div>

  <button type="submit" [disabled]="loading">
    {{ loading ? "Logging in..." : "Login" }}
  </button>

  <!-- Backend error -->
  <p *ngIf="errorMsg" class="form-error">
    {{ errorMsg }}
  </p>

  <p class="footer-text">
    Don't have an account?
    <a routerLink="/signup">Sign up here</a>
  </p>
</form>
