<app-toast [message]="toastMessage" [type]="toastType"></app-toast>

<form class="auth-card" [formGroup]="signupForm" (ngSubmit)="submit()">
  <h2>Sign Up</h2>

  <!-- First Name -->
  <div
    class="field"
    [class.has-error]="
      signupForm.get('firstName')?.invalid &&
      signupForm.get('firstName')?.touched
    "
  >
    <input type="text" placeholder="First Name" formControlName="firstName" />
    <div
      class="error"
      *ngIf="
        signupForm.get('firstName')?.invalid &&
        signupForm.get('firstName')?.touched
      "
    >
      First name is required
    </div>
  </div>

  <!-- Last Name -->
  <div
    class="field"
    [class.has-error]="
      signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched
    "
  >
    <input type="text" placeholder="Last Name" formControlName="lastName" />
    <div
      class="error"
      *ngIf="
        signupForm.get('lastName')?.invalid &&
        signupForm.get('lastName')?.touched
      "
    >
      Last name is required
    </div>
  </div>

  <!-- Email -->
  <div
    class="field"
    [class.has-error]="
      signupForm.get('email')?.invalid && signupForm.get('email')?.touched
    "
  >
    <input type="email" placeholder="Email" formControlName="email" />
    <div
      class="error"
      *ngIf="
        signupForm.get('email')?.invalid && signupForm.get('email')?.touched
      "
    >
      Valid email is required
    </div>
  </div>

  <!-- Password -->
  <div
    class="field"
    [class.has-error]="
      signupForm.get('password')?.invalid && signupForm.get('password')?.touched
    "
  >
    <input type="password" placeholder="Password" formControlName="password" />
    <div
      class="error"
      *ngIf="
        signupForm.get('password')?.invalid &&
        signupForm.get('password')?.touched
      "
    >
      Password is required
    </div>
  </div>

  <!-- Role -->
  <div
    class="field"
    [class.has-error]="
      signupForm.get('role')?.invalid && signupForm.get('role')?.touched
    "
  >
    <select formControlName="role">
      <option value="" disabled>Choose Role</option>
      <option value="USER_ROLE">User</option>
      <option value="ADMIN_ROLE">Admin</option>
    </select>
    <div
      class="error"
      *ngIf="signupForm.get('role')?.invalid && signupForm.get('role')?.touched"
    >
      Role is required
    </div>
  </div>

  <button type="submit" [disabled]="loading">
    {{ loading ? "Signing up..." : "Sign Up" }}
  </button>

  <!-- General backend error -->
  <p *ngIf="errorMsg" class="form-error">
    {{ errorMsg }}
  </p>

  <p class="footer-text">
    Already have an account?
    <a routerLink="/login">Login here</a>
  </p>
</form>
